@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@keyframes pulse {
    0% {
        border-color: #E8DBC5;
        background: rgba(232,219,197,.01);
    }
    50% {
        border-color: #B185A7;
        background: rgba(177,133,167,.15);
    }
}

html, body {
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-color: #E8DBC5;
    padding-top: 140px;
}

#command-input {
    background: rgba(232,219,197,.01);
    border: 1px solid #E8DBC5;
    border-radius: 5px;
    box-shadow: 4px 4px 10px -3px #B185A7;
    color: #8D6B94;
    display: block;
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 12px;
    width: 400px;
    transition: background 1.5s;
}

#command-input:focus {
    outline: none;
}

.console-mode {
    animation-name: pulse;
    animation-delay: .5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

::-webkit-input-placeholder { color:#8D6B94; }
::-moz-placeholder { color:#8D6B94; }
:-ms-input-placeholder { color:#8D6B94; }
